.link-item {
    display: flex;
    gap: 15px;
    margin: 10px auto;
    padding: 10px;
    background-color: #333333; 
    color: white;
    border-radius: 8px;
    width: 500px;
  }
  
  .link-image {
    flex-shrink: 0;
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 8px;
  }
  
  .link-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .language-image {
    height: 10px;
  }
  
  .link-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .link-description {
    font-size: 13px;
    text-align: left;
    font-family: Inter, sans-serif;
    margin: 0;
  }

  .link-language {
    font-size: 14px;
    margin-top: auto;
  }

  /* Instagram-style layout */
  .link-item-instagram {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px;
    background-color: #333333;
    color: white;
    border-radius: 8px;
    width: 500px;
  }

  .instagram-thumbnail {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #1a1a1a;
  }

  .thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .instagram-bottom {
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }

  .instagram-image-container {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
  }

  .instagram-small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .instagram-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }


/* Media Queries */
  @media (max-width: 600px) {
    .link-item,
    .link-item-instagram {
      width: 450px;
    }

    .instagram-thumbnail {
      height: 240px;
    }
  }

  @media (max-width: 500px) {
    .link-item,
    .link-item-instagram {
      width: 400px;
    }

    .instagram-thumbnail {
      height: 210px;
    }

    .instagram-image-container {
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 420px) {
    .link-item,
    .link-item-instagram {
      width: 350px;
    }

    .instagram-thumbnail {
      height: 180px;
    }
  }

  @media (max-width: 370px) {
    .link-item,
    .link-item-instagram {
      width: 300px;
    }

    .instagram-thumbnail {
      height: 150px;
    }

    .instagram-image-container {
      width: 45px;
      height: 45px;
    }
  }

  @media (max-width: 320px) {
    .link-item,
    .link-item-instagram {
      width: 200px;
    }

    .instagram-thumbnail {
      height: 120px;
    }
  }

  
  