
body, html {
  background-color: black;
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  color: white;
  font-family: 'Bahnschrift', 'DIN Alternate', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a:hover,
a:visited,
a:active {
  color: white; /* Keep text color white on hover, visited, and active */
  text-decoration: none; /* Remove underline */
}

a {
  text-decoration: none; /* Remove underline */
  -webkit-tap-highlight-color: transparent; /* Makes tap highlight color transparent */
}

.link-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 0px;
}

/* Hide descriptions for thumbnail items below 400px */
@media (max-width: 399px) {
  .link-item-instagram .link-description {
    display: none;
  }
}

/* Hide descriptions for standard items below 350px */
@media (max-width: 349px) {
  .link-item .link-description {
    display: none;
  }
}